/* CSS styles */
.construction {
    text-align: center;
    margin-top: 10%;
    font-size: 300%;
}

#title {
    font-family: "Roboto Slab", "Spectral SC - Semi Bold", serif;
    text-align: center;
    font-size: 300%;
    color: #EDEDED;
}

#logo {
    font-family: "Roboto Slab", "Spectral SC - Semi Bold", serif;
    color: #EDEDED;
    font-size: 300%;
    border: solid #EDEDED;
    padding: 5px;
}

#title-bar {
    display: flex;
    justify-content: center;
}